<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome</title>
<link rel="stylesheet" href="/stylesheets/style.css">



</head>
<body>
<center>
  <h1 class="title">Welcome to the Directory Viewer</h1>
  <div class = "para">
  <p>login to your account</p></div>
  <a href="/login" class="button">Login Page</a>
</center>
</body>

</html>
