<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

<body>
    <form action="/reset/password" method="post">
        <center>
            <h1 class="title">Reset my Password</h1>
            <br />
            <label for="email" class="para">Email : </label>
            <input type="text" disabled placeholder="<%= email %>"><br /><br />
            <input type="hidden" name="email" value="<%= email %>">
            <p>Passwords must be alphanumeric</p>
            <input type="hidden" name="answer" id="answer" value="<%= answer %>"><br /><br />
            <label for="password" class="para">New Password : </label>
            <input type="password" name="password" id="password"><br /><br />

            <button type="submit" class="button">Reset My Password</button>
            <h2>
                <%= status %>
            </h2>
            <br>
            <a href="/login">Back to login</a>
        </center>
    </form>
</body>

</html>